@import "variables.less";

html {
    color: @text-dark-color;
    font: 13px 'Open Sans', sans-serif;
}
body {
    margin: 0;
}
html,
body {
    height: 100%;
    overflow: hidden;
}

@import "scrollbars.less";
@import "table-layout.less";

.inner {
    height: 100%;
    margin: 5px;
    overflow-x: hidden;
}

@import "sidebars.less";
@import "messages.less";
@import "form.less";
