html {
  color: #000000;
  font: 13px 'Open Sans', sans-serif;
}
body {
  margin: 0;
}
html,
body {
  height: 100%;
  overflow: hidden;
}
::-webkit-scrollbar {
  height: 7px;
  width: 7px;
}
::-webkit-scrollbar-button {
  height: 0px;
  width: 0px;
}
::-webkit-scrollbar-thumb {
  background: #9e9e9e;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:active {
  background: #bdbdbd;
}
::-webkit-scrollbar-track {
  background: #424242;
  border-radius: 5px;
}
.table {
  display: table;
  height: 100%;
  width: 100%;
}
.table .row {
  display: table-row;
}
.table .row .cell {
  display: table-cell;
  vertical-align: top;
}
.inner {
  height: 100%;
  margin: 5px;
  overflow-x: hidden;
}
.sidebar {
  width: 200px;
}
.sidebar.left {
  text-align: left;
}
.sidebar.left > ul > li a {
  padding-left: 3px;
}
.sidebar.left > ul > li > ul > li > a {
  padding-left: 15px;
}
.sidebar.left .accordion.wrapped {
  transform: rotate(-90deg);
  transition: transform 0.5s;
}
.sidebar.right {
  text-align: right;
}
.sidebar.right > ul > li a {
  padding-right: 3px;
}
.sidebar.right > ul > li > ul > li > a {
  padding-right: 15px;
}
.sidebar.right .accordion.wrapped {
  transform: rotate(90deg);
  transition: transform 0.5s;
}
.sidebar a {
  cursor: default;
  display: block;
  line-height: 30px;
  min-height: 30px;
  text-decoration: none;
}
.sidebar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.sidebar > ul {
  background-color: #212121;
  height: 100%;
  overflow-y: auto;
}
.sidebar > ul > li > a {
  background-color: #212121;
  color: #ffffff;
}
.sidebar > ul > li > ul > li > a {
  background-color: #e0e0e0;
  color: #000000;
  padding-right: 15px;
  transition: background-color 0.5s;
}
.sidebar > ul > li > ul > li > a:hover {
  background-color: #bdbdbd;
  transition: background-color 0.5s;
}
.sidebar .accordion {
  cursor: pointer;
  margin: 3px;
  transform: rotate(0deg);
  transition: transform 0.5s;
}
#messages {
  height: 100%;
  max-height: calc(100% - 85px);
  overflow-y: auto;
  padding: 0 15px;
}
#messages .message .nick {
  display: block;
}
#messages .message.me .nick {
  text-align: right;
}
#messages .message.me .speech-bubble {
  background: #212121;
  color: #ffffff;
}
#messages .message.me .speech-bubble:after {
  border-bottom-color: #212121;
  border-right: 0;
  right: 20px;
}
#messages .message.someone .nick {
  text-align: left;
}
#messages .message.someone .speech-bubble {
  background: #e0e0e0;
  color: #000000;
}
#messages .message.someone .speech-bubble:after {
  border-bottom-color: #e0e0e0;
  border-left: 0;
  left: 20px;
}
#messages .message .speech-bubble {
  border-radius: 5px;
  line-height: 1.4em;
  margin-bottom: 5px;
  margin-top: 10px;
  padding: 7px;
  position: relative;
}
#messages .message .speech-bubble:after {
  border: 10px solid transparent;
  border-top: 0;
  content: '';
  height: 0;
  position: absolute;
  top: 0;
  margin-left: -5px;
  margin-top: -10px;
  width: 0;
}
#messages .message .speech-bubble .timestamp {
  display: block;
  font-style: italic;
  margin: 0 -3px -5px 0;
  text-align: right;
}
#form {
  min-height: 75px;
  padding: 5px 0;
  position: relative;
}
#form button {
  background: none;
  border: 1px solid #e0e0e0;
}
#form button[type=submit] {
  border-radius: 0 5px 5px 0;
  height: 50px;
  position: absolute;
  width: 60px;
}
#form textarea {
  border: 1px solid #e0e0e0;
  border-radius: 5px 0 0 5px;
  border-right: 0;
  box-sizing: border-box;
  font: inherit;
  height: 50px;
  padding: 7px;
  resize: none;
  width: calc(100% - 60px);
}
#form .toolbar {
  display: inline-block;
  left: 5px;
  position: relative;
  vertical-align: middle;
}
#form .toolbar button {
  border-bottom: 0;
  float: left;
  position: relative;
}
#form .toolbar button:first-child {
  border-radius: 5px 0 0 0;
}
#form .toolbar button:not(:first-child) {
  border-left: 0;
}
#form .toolbar button:last-child {
  border-radius: 0 5px 0 0;
}
